NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_DB_URL=
RESEND_API_KEY=
EMAIL_FROM=Samfred Charge <bookings@yourdomain.com>
NEXT_PUBLIC_APP_URL=http://localhost:3000
